layout {
    // Définition du conteneur principal qui se divise horizontalement
    pane split_direction="horizontal" {
        // Le premier panneau prend 70% de la hauteur.
        // C'est ici que vous mettriez votre éditeur (vim, nvim, helix...).
        pane size="70%" {
            // Remplacez "/chemin/vers/votre/projet/dev" par le chemin réel
            cwd "/home/fard/dev/warehouse/"
        }
        
        // Le second panneau prend le reste de la place (30%)
        // et sera lui-même divisé verticalement.
        pane {
            split_direction="vertical"
            pane {
                // Panneau pour les commandes git, etc.
                cwd "/home/fard/dev/warehouse/"
            }
            pane {
                // Panneau pour lancer des serveurs, des tests, etc.
                cwd "/home/fard/dev/warehouse/"
            }
        }
    }
}
