layout {
    tab name="Tab #1" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "true"
            }
        }
        pane split_direction="vertical" {
            pane size="45%" stacked=true {
                pane command="hx"  expanded=true {
                    start_suspended false
                }
                pane command="lazygit" cwd="configs/dotfiles" {
                    start_suspended false
                }
            }
            pane size="40%" {
                pane focus=true size="60%"
                pane command="/usr/bin/python3"  size="40%" {
                    args "-O" "/usr/bin/ranger"
                    start_suspended false
                }
            }
            pane size="15%"
        }
        pane size=1 borderless=true {
            plugin command="tree" location="zellij:status-bar" {
                args "-La" "2"
                start_suspended false
            }
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
}

