layout {
    cwd "/home/fard/dev/warehouse/embedded/korri-n2k/mqtt/xtensa/esp32-s3"
    tab name="Tab #1" focus=true hide_floating_panes=true {
        pane split_direction="vertical" {
            pane focus=true size="60%" stacked=true {
                pane command="/usr/bin/python3" expanded=true {
                    args "-O" "/usr/bin/ranger"
                    start_suspended false
                }
                pane command="lazygit" {
                    start_suspended true
                }
            }
            pane size="40%" {
                pane size="70%" {
                }
                pane size="30%"
            }
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "true"
            }
        }
        pane
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
}

