layout {
    cwd "/home/fard/dev/warehouse"
    tab name="misc" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane size="25%"
        pane  focus=true size="75%" 
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
            }
        }
    }
    tab name="arm.g4" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane cwd="embedded/templates/korri/arm/stm32/stm32-g431-cbu6" size="25%"
        pane cwd="embedded/templates/korri/arm/stm32/stm32-g431-cbu6" size="75%"
    }
    tab name="xtensa.s3" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane cwd="embedded/templates/korri/xtensa/esp32-s3" size="25%"
        pane cwd="embedded/templates/korri/xtensa/esp32-s3" size="75%"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
            }
        }
    }
    tab name="risc-v.c3" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane cwd="embedded/templates/korri/risc-v/esp32-c3" size="25%"
        pane cwd="embedded/templates/korri/risc-v/esp32-c3" size="75%"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
            }
        }
    }
    tab name="bsp.run" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ls" cwd="/home/fard/dev/warehouse/embedded" size="10%" {
            args "-l" "/dev/serial/by-id"
            start_suspended false
        }
        pane cwd="embedded/templates/korri/arm/stm32/stm32-g431-cbu6" size="53%"
        pane size="36%" split_direction="vertical" {
            pane cwd="embedded/templates/korri/xtensa/esp32-s3" size="50%"
            pane cwd="embedded/templates/korri/risc-v/esp32-c3" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
            }
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane cwd="/home/fard/dev/warehouse"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
            }
        }
    }
}

