layout {
    cwd "/home/fard"
    tab name="zaatar" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="zellij" cwd="dev/warehouse/configs/dotfiles" focus=true {
            args "action" "dump-layout"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    tab name="ansible" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ssh" {
            args "mgmt.ans"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    tab name="m.pf" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ssh" {
            args "mgmt.pf"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    tab name="m.core" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ssh" {
            args "mgmt.pcore"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    tab name="mgmt.pbs" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ssh" {
            args "mgmt.pbs"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    tab name="dev.pcore" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane command="ssh" {
            args "dev.pcore"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar" {
                _hidden "false"
            }
        }
        pane cwd="/home/fard"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar" {
                _hidden "true"
                show-modes "true"
            }
        }
    }
}

