
[Desktop Entry]
Version=1.0
Type=Application
Name=Local Wezterm
Comment=Lance une session locale Wezterm
Exec=env WEZTERM_SOCKET=/tmp/wezterm-local wezterm start --class zellij -- /home/fard/.cargo/bin/zellij
Icon=/home/fard/Pictures/Icones/terminal_w.png
Terminal=false
Categories=System;TerminalEmulator;
