* {
  font-family: FiraCode Nerd Font;
  color: #e5e9f0;
  background: transparent;
  font-size: 16px;
}

#window {
    border: 5px solid transparent;
    border-radius: 15px; 
    background-color: #282A36; 

    background:
        linear-gradient(150deg, #282A36, #282A36) padding-box,
        linear-gradient(135deg, #4911D6, #D6119E) border-box; 

    background-clip: padding-box, border-box;
}

#outer-box {
  padding: 25px;
}

#img {
  margin-right: 2px;
}

#entry {
  padding: 3px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #340C97;
  border-radius: 15px;
  border: 5px solid transparent;
}

#text {
  margin: 3px;
}

#input {
    /* On force l'élément à ne prendre aucune place */
    height: 1px;
    min-height: 1px;
    padding: 0px;
    margin: 0px;
    border: none;

    /* On le rend invisible au cas où il occuperait encore de l'espace */
    opacity: 0;
}
