* {
	background-image: none;
}
window {
	background-color: rgba(40, 42, 54, 0.8);
  background:
        linear-gradient(135deg, rgba(171, 17, 214, 0.8), rgba(73, 17, 214, 0.8)) border-box;
  background-clip: border-box;
}
button {
	background-color: rgba(40, 42, 54, 0.8);
	border-style: none;
  /* border: 3px solid #113CD6; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	border-radius:40px;
	margin: 20px 5px;
	text-shadow: 1px 0px;
	box-shadow: 0px 0px;
	font-family: "Iosevka Term";
	font-size: 20px;
	/* color: rgba(73, 17, 214, 0.9); */
  color: rgba(115, 134, 240, 0.8);
}

button:focus, button:active, button:hover {
  background-size: 80%;
	/* background: linear-gradient(150deg, #282A36, #282A36); */
	outline-style: none;
}

#lock {
    background-image: image(url("icons/lock.png"), url("~/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("~/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("~/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("~/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("~/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("~/.config/wlogout/icons/reboot.png"));
}
